.head 
{
	margin-right:auto;
	margin-left:auto;
}

.error
{
	font-size:12px;
	color:red;
}	

li {
	line-height: 27px;
}

.subhead {
	margin-left: 1em;
}

input {
	margin-left: 1em;
}

.center {
	width:320px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 10px;
}
th, td {
	width:80px;
	text-align:center;
}